<div class="article">
  <h2 class="ui header name">
    <%= article.name %>
    <% if article.persisted? %>
      <small>(
        <%= link_to article_versions_path(article) do %>
          <%= article.versions_count %> versions
        <% end %>
      )</small>
    <% end %>
  </h2>
  <div class="body"><%= article.body %></div>
</div>
