<h3 class="ui header">Articles List</h3>
<div class="ui lists">
  <% @articles.each do |article| %>
    <div class="item">
      <i class="file icon"></i>
      <%= link_to article.name, article %>
    </div>
  <% end %>
</div>
