<div class="article version">
  <h2 class="name">
    <%= link_to article_version.name, article_version_path(article_version.article, article_version) %> (updated at: <%= article_version.created_at %>)
  </h2>
</div>

